<!DOCTYPE html>
<html lang="nl" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments::head(title='Bierhuis')"></head>
<body>
<nav th:replace="fragments::menu"></nav>
<div th:if="${brouwers}">
    <h1>Brouwers</h1>
    <ul class="fliflop">
        <li th:each="brouwer:${brouwers}">
            <a th:text="|${brouwer.naam} (${brouwer.gemeente})|" th:href="@{/brouwers/{id}(id=${brouwer.id})}"></a>
        </li>
    </ul>
</div>
<div th:if="${bieren}">
    <h1 th:text="|${brouwer.naam} (${brouwer.gemeente})|"></h1>
    <ul class="fliflop">
        <li th:each="bier:${bieren}">
            <a th:text="${bier.naam}" th:href="@{/bieren/{id}/form(id=${bier.id})}"></a>
        </li>
    </ul>
</div>


</body>
</html>