<!DOCTYPE html>
<html lang="nl" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments::head(title='Bierhuis')"></head>
<body>
<nav th:replace="fragments::menu"></nav>
<h1>Mandje</h1>

<form method="post" th:action="@{/mandje/bestelbon}">
    <div th:if="${bestellijst}">
        <table>
            <thead>
            <tr>
                <th>Bier</th>
                <th>Prijs</th>
                <th>Aantal</th>
                <th>Te Betalen</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="lijn:${bestellijst}" th:object="${lijn}">
                <td th:text="*{bierNaam}"></td>
                <td th:text="*{{bierPrijs}}"></td>
                <td th:text="*{aantalBakken}"></td>
                <td th:text="${lijn.bierPrijs} * ${lijn.aantalBakken}"></td>
            </tr>
            </tbody>
        </table>
    </div>

    <div th:object="${mandjeForm}">
        <label>Naam <span th:errors="*{naam}"></span>
            <input th:field="*{naam}" autofocus required>
        </label>
        <label>Straat <span th:errors="*{straat}"></span>
            <input th:field="*{straat}" autofocus required>
        </label>
        <label>Huisnummer <span th:errors="*{huisNr}"></span>
            <input th:field="*{huisNr}" autofocus required>
        </label>
        <label>Postcode <span th:errors="*{postcode}"></span>
            <input th:field="*{postcode}" autofocus required>
        </label>
        <label>Gemeente <span th:errors="*{gemeente}"></span>
            <input th:field="*{gemeente}" autofocus required>
        </label>
        <input type="hidden" name="id" value="0"/>
        <button>Toevoegen</button>
    </div>
</form>


</body>
</html>