<!DOCTYPE html>
<html lang="nl" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments::head(title='Bierhuis')"></head>
<body>
<nav th:replace="fragments::menu"></nav>
<h1>Mandje</h1>

<form th:object="${mandjeForm}" method="post" th:action="@{/mandje}">
    <div>
        <table>
            <thead>
            <tr style="background-color: moccasin">
                <th>Bier</th>
                <th>Prijs</th>
                <th>Aantal</th>
                <th>Te Betalen</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="lijn:${mandjeForm.getBestelLijnen()}" th:object="${lijn}">
                <td th:text="*{bierNaam}" th:name="*{bierNaam}" th:value="*{bierNaam}"></td>
                <td th:text="*{{bierPrijs}}" th:name="*{bierPrijs}" th:value="*{bierPrijs}"></td>
                <td th:text="*{aantalBakken}" th:name="*{aantalBakken}" th:value="*{aantalBakken}"></td>
                <td th:text="*{{lijnTotaal}}" th:value="*{lijnTotaal}"></td>
            </tr>
            </tbody>
            <tfoot>
            <tr style="background-color: moccasin">
                <td></td>
                <td></td>
                <td style="font-weight: bold">Totaal: </td>
                <td style="font-weight: bold" th:text="${{mandjeForm.totaal}}" th:value="${mandjeForm.totaal}"></td>
            </tr>
            </tfoot>
        </table>
    </div>

    <div>
        <label>Naam <span th:errors="*{naam}"></span>
            <input th:field="*{naam}" autofocus required>
        </label>
        <label>Straat <span th:errors="*{straat}"></span>
            <input th:field="*{straat}" autofocus required>
        </label>
        <label>Huisnummer <span th:errors="*{huisNr}"></span>
            <input th:field="*{huisNr}" autofocus required>
        </label>
        <label>Postcode <span th:errors="*{postcode}"></span>
            <input th:field="*{postcode}" autofocus required >
        </label>
        <label>Gemeente <span th:errors="*{gemeente}"></span>
            <input th:field="*{gemeente}" autofocus required>
        </label>
<!--        <input type="hidden" name="id" value="0"/>-->
        <button>Als bestelbon bevestigen</button>
    </div>
</form>


</body>
</html>